<header>

  <div class="logo">

    <a routerLink="/">
      <img src="logo.jpg" alt="Lar Gatinhos">
    </a>

  </div>

  <nav>

    <a routerLink="/">Início</a>
    <a routerLink="/adocao">Adoção</a>
    <a routerLink="/sobre">Sobre nós</a>
    <a routerLink="/ajude">Ajude</a>
    <a routerLink="/contato">Contato</a>

    @if (estaLogado) {

      <button
        type="button"
        class="logout-button"
        (click)="sair()"
      >
        Sair
      </button>

    }

  </nav>

</header>

@if (estaLogado) {

  <app-admin-header></app-admin-header>

}